@media screen and (max-width: 1366px) {
  
    .ticket {
        flex-basis: calc(100%/12 * 6);
        text-align: center;
    }

    .wrap-h1 {
        flex-basis: calc(100%/12 * 6);
        margin-top: 0;
    }

    .team-item {
        flex-basis: calc((100%/12) * 5);
    }

    .wrap-team-content {
        justify-content: center;
    }

    .team-h3 {
        max-width: calc(100%/12 * 10);
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1100px) {

    .wrap-send-order {
        flex-wrap: wrap;
        justify-content: center;
    }

    .send-order-form {

         flex-basis: calc(100%/6 * 4);
    }
}

@media screen and (max-width: 1024px) {
   
    .nav-link {
        font-size: 20px;
        padding: 20px 20px;
    }

    .wrap-about-content {
        flex-wrap: wrap;
    }

    .img-baikal {
        top: 0;
    }

    .img-baikal img {
        display: block;
        margin: auto;
        width: 100%;
    }

    .wrap-interior {
        padding-left: 0;
    }

    .item-content {
        flex-grow: 1;
    }

    /* .item-price {
        padding-right: 20px;
    } */

    .open-pop-up {
        width: 100%;
    }

    .wrap-item-programm {
        justify-content: space-around;
    }

    .wrap-gallery-ul {
        justify-content: center;
    }

    .food-item {
        justify-content: center;
    }

    .food-img {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .wrap-send-order {
        justify-content: center;
    }

}

@media screen and (max-width: 1190px)  {
    .wrap-item-programm {
        justify-content: space-around;
    }
}

@media screen and (max-width: 974px)  {

    .item-price {
        padding: 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px)  {

    header {
        background: url(/css/img/bg-768.jpg);
    }

    .nav-icon {
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0px;
        left: 0px;
        background: url(/css/img/icon/line-nav-icon.svg);
        background-repeat: no-repeat;
        background-position: 20px 20px;
        background-color: rgba(36, 36, 36, 1);
    }

    .nav-icon:hover {
        cursor: pointer;
    }

    .header-nav {
        display: none;
        position: absolute;
        top: 60px;
        background-color: rgba(36, 36, 36, 1);
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 50px;
        border-bottom: #FF7A00 9px solid;
    }

    .header-nav.active {
        display: block;
    }

    .header-nav-ul li {
        display: list-item;
        /* padding: 10px 20px; */
        margin-right: 0;
        text-transform: uppercase;
    }

    .empty {
        display: none;
    }

    .wrap-header-top {
        flex-wrap: wrap;
        justify-content: center;
    }

    .tel {
        text-align: center;
    }

    .logo {
        background-position: center;
        margin-bottom: 15px;
    }

    .wrap-h1 {
        order: 1;
        flex-basis: 100%;
        margin-bottom: 25px;
    }

    .ticket {
        order: 2;
    }

    .wrap-header-content {
        justify-content: center;
    }

    .container-header {
        padding: 65px 20px 80px 20px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
        text-align: center;
    }

    .wrap-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .decorate {
        background-image: url(/css/img/icon/decorate-x.svg);
        background-repeat: repeat-x;
     }

    .wrap-decorate {
        width: 100%;
        height: 50px;
    }

    .item-date {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 40px;
        padding-right: 0;
    }

    .shifts-items {
        justify-content: center;
    }

    .decorate {
        width: 100%;
    }

    .wrap-shifts-name {
        text-align: center;
        margin-left: 0;
    }

    .wrap-interior {
        width: 100%;
    }

    .wrap-shifts-name h3 {
        text-align: center;
        font-size: 48px;
    }

    /* .item-price {
        order: 4;
        margin-bottom: 50px;
        text-align: center;
    } */

    .name-price, .price {
        margin-bottom: 25px;
    }

       .shifts-description {
        margin-bottom: 0;
    }

    .wrap-item-programm {
        flex-direction: column;
        align-items: center;
    }
    .item-programm {
        margin-bottom: 40px;
        width: 100%;
    }

    .programm-h3 {
        font-size: 24px;
        text-align: center;
    }

    .icon-programm{
        margin-bottom: 20px;
    }

    .item-programm-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item-programm-content li {
        width: calc(100%/3*2);
    }

    .staff-info {
        flex-direction: column;
        align-items: center;
    }

    .staff-info img {
        margin-bottom: 20px;
    }

    .bg-conditions {
        position: static;
    }
    .wrap-interior-conditions {
        padding-bottom: 40px;
    }

    .wrap-conditions-ul {
        padding: 100px 20px 0 20px;
    }

    .conditions-h3 {
        text-align: left;
    }

    .wrap-conditions-h2 {
        border: none;
        padding: 0;
        background-color: unset;
        margin-bottom: 20px;
    }

    .wrap-team-content {
        justify-content: space-between;
    }

    .team-item {
        flex-basis: calc(100%/3*1.3);
    }

    .width-5 {
        max-width: unset;
    }

    .wrap-food-item {
        max-width: unset;
    }

    .wrap-food {
        justify-content: center;
    }

    .form-1 {
        width: 100%;
    }

    .send-order-btn {
        display: block;
        margin: 0 auto;
    }

    .wrap-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info {
        display: flex;
        flex-direction: column;
     }

     .info-autor-tours  {
        
         order: 2;
         margin-bottom: 40px !important;
     }

     .info p:last-child  {
        margin-bottom: 40px;
     }

     .info p {
         display: block;
     }

     .slogan {
        margin-bottom: 40px;
     }
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 36px;
    }

    .ticket {
        flex-basis: 100%;
    }

    .ticket img {
        width: 100%;
    }

    .wrap-shifts-name h3 {
        font-size: 32px;
    }

    /* .item-price {
        padding-top: 0;
    } */

    .item-programm-content li {
        width: 100%;
    }

    .wrap-conditions-h2 {
        width: 100%;
    }

    .icon-conditions.tent {
        background-image: url(/css/img/icon/IMG-tent-480.png);
    }

    .icon-conditions.guard {
        background-image: url(/css/img/icon/IMG-guard-480.png);
    }

    .icon-conditions.med {
        background-image: url(/css/img/icon/IMG-med-480.png);
    }

    .conditions-content {
        flex-direction: column;
    }

    .icon-conditions {
        width: 100%;
        height: 70px;
    }

    .wrap-conditions-ul {
        padding:20px 20px 0 20px;
    }

    .conditions-h3 {
        text-align: center;
    }

    .wrap-team-content {
        flex-direction: column;
    }

    .staff-info-item {
        text-align: center;
    }

    .food-item.mob1 {
        width: 100%;
    }

    .list-name {
          font-size: 20px;
    }

    .send-order-btn {
        width: 95%;
    }
}


@media screen and (max-width: 360px) {

    .shifts-name {
   font-size: 16px;
    }

    h2 {
        margin-bottom: 30px;
    }

    .item-date {
       flex-basis: 100%;
    }

   
    /* .item-price {
        width: 100%;
    } */

    .programm {
        margin-bottom:20px;
    }

    /* .wrap-gallery-ul li {
        padding: 5px;
    } */

    .staff-post {
        font-size: 16px;
    }

    .list-name {
        font-size: 16px;
    }
}